{% assign images = include.images | split: "," %}

<div id="carousel-{{ include.uid }}" class="carousel slide" data-bs-ride="false">
  
  <div class="carousel-indicators">
    {% for image in images %}
      <button type="button" 
              data-bs-target="#carousel-{{ include.uid }}" 
              data-bs-slide-to="{{ forloop.index0 }}" 
              class="{% if forloop.first %}active{% endif %}" 
              aria-current="{% if forloop.first %}true{% else %}false{% endif %}" 
              aria-label="Slide {{ forloop.index }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for image in images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ site.baseurl }}/{{ include.path }}/{{ image }}" class="d-block w-100" alt="Slide {{ forloop.index }}">
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ include.uid }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ include.uid }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>